/* --------------------------------------------------------------- */
:root{
    --dark: #333;
    --light: white;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body{
    margin: 0;
    padding: 0;
}
/* --------------------------------------------------------------- */

/* Line between inputs and outputs */
hr{
    color: var(--dark);
    height: 1px;
    width: 100%;
}



/* The container that holds the inputs and outputs */
.container{
    width: auto;
    height: auto;
    margin: 50px 0 0 150px;
    padding: 25px 50px 25px 50px;
    display: grid;
    grid-template: 160px 20px/ 75%;
    row-gap: 20px;
}

/* Movie form */
#movie-form{
    grid-area: 1/1/2/2;
    display: grid;
    grid-template: repeat(4, 25px)/ minmax(150px,500px);
    row-gap: 20px;
}


#movie-form div{
    display: flex;
    flex-direction: row;
    column-gap: 25px;
}

#movie-submit, #movie-table-clear{
    width: 125px;
}

/* Table */
#table-row{
   text-align: center;
}

td{
   border-bottom-color: var(--dark);
   border-bottom-style: solid;
   border-bottom-width: 1px;
}

/* Table headers (results in columns with this width) */
th{
    width: 150px;
    position: sticky;
}

/* Delete button */
.delete-btn{
    background-color: red;
    color: var(--light);
    text-decoration: none;
}

/* Validation message */
.hide{
    display: none;
}

/* Input appearance */
input:not(button):invalid{
    box-shadow: red;
}

input:not(button):not(:focus){
    box-shadow: none;
}

