:root{
    --dark: #333;
    --light: white;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body{
    margin: 0;
    padding: 0;
}

hr{
    color: var(--dark);
    height: 1px;
    width: 100%;
}

th{
    width: 150px;
}

.container{
    width: auto;
    height: auto;
    margin: 50px 0 0 150px;
    padding: 25px 50px 25px 50px;
    display: grid;
    grid-template: 160px 20px/ 75%;
    row-gap: 20px;
}

#movie-form{
    grid-area: 1/1/2/2;
    display: grid;
    grid-template: repeat(4, 25px)/ minmax(150px,500px);
    row-gap: 20px;
}


#movie-form div{
    display: flex;
    flex-direction: row;
    column-gap: 25px;
}

#movie-submit{
    width: 125px;
}

#table-row{
   text-align: center;
}

td{
   border-bottom-color: var(--dark);
   border-bottom-style: solid;
   border-bottom-width: 1px;
}

#delete-btn{
    background-color: red;
    color: var(--light);
    text-decoration: none;
}

